.column {
    float: left;
    width: 50%;
    text-align: start;
}

div.multicolumn:after {
    content: "";
    display: table;
    clear: both;
}

form {
    font-size: larger;
    font-style: italic;
}

label.mandatory{
    color: red;
}

label.opt {
    color: green;
}