html
    head
        title Form results
        style.
            table,tr,td,th
            {
                border: 1px solid black;
                border-collapse: collapse
            }
    body
        table
            tr
                th String 1
                th String 2
                th String 3
            tr
                td #{text1}
                td #{text2}
                td #{text3}